@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.Inconsolata {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.SpaceGrotesk {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
}

.Inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.Outfit {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

.Archivo {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.animate-shimmer {
  animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.spotlight-card {
  position: relative;
  --x: 50%;
  --y: 50%;
}

.spotlight-card:hover .spotlight-overlay {
  opacity: 1 !important;
}

.spotlight-overlay {
  background: radial-gradient(
    600px circle at var(--x) var(--y),
    rgba(95, 95, 95, 0.25),
    transparent 40%
  );
  pointer-events: none;
}

.spotlight-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  padding: 1px;
  background: radial-gradient(
    400px circle at var(--x) var(--y),
    rgba(255, 230, 9, 0.6),
    transparent 20%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1;
}

.spotlight-card:hover::before {
  opacity: 1 !important;
}
